<%= render "partials/header" %>


<%= form_with(model: @page, local: true, html:{class:"col-md-8 offset-md-2"}) do |form| %>
    <% @page[:published_at].nil? ? datetime=nil : datetime= DateTime.parse(@page[:published_at].to_s)%>
    <% datetime.nil? ? newdate = nil : newdate = Date.new(datetime.year,datetime.month, datetime.day) %>
    <% datetime.nil? ? newtime = nil : newtime = datetime.strftime("%k:%M:%S") %>

    <h1>Editing page</h1>

    <% if @page.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@page.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @page.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group row">
      <%= form.label :title , class:"col-sm-2 col-form-label"%>
      <%= form.text_field :title, class:"col-sm-3 form-control", placeholder:"Title" %>
    </div>

    <div class="form-group row">
      <%= form.label :description, class:"col-sm-2 col-form-label" %>
      <%= form.text_field :description, class:"col-sm-3 form-control", placeholder:"Description in meta tag" %>
    </div>

    <div class="form-group row">
      <%= form.label :slug, class:"col-sm-2 col-form-label"%><br>
      <%= form.text_field :slug, class:"col-sm-3 form-control", placeholder:"URL" %>
    </div>

    <div class="form-group row">
      <%= form.label :h1, class:"col-sm-2 col-form-label"%><br>
      <%= form.text_field :h1, class:"col-sm-3 form-control", placeholder:"Article title" %>
    </div>

    <div class="form-group">
      <%= form.label :content, class:"col-sm-2 col-form-label" %>
      <%= form.text_area :content, class:"form-control", id:"editor", rows:"10" %>
    </div>

    <div class="form-group">
      <%= form.label :published_at %><br>
      <div class="form-group row">
        <%= form.label :Date, class:"col-sm-1 col-form-label"%><br>
        <%= form.text_field :published_at_date, data: {provide: 'datepicker'},value:newdate, class:"datepicker col-sm-3 form-control", placeholder:"yyyy-mm-dd"%>
        <%= form.label :Time, class:"col-sm-1 col-form-label"%><br>
        <%= form.text_field :published_at_hour, class:"col-sm-2 form-control", value:newtime, placeholder:"hh:mm:ss"%>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :priority, class:"col-sm-1 col-form-label"%><br>
      <%= form.text_field :priority, class:"col-sm-2 form-control" %>
    </div>

    <div class="row">
      <div class="col-sm-1"><%= form.submit 'Save', class:"btn btn-primary " %></div>
      <br/>
      <%= link_to 'Cancel', :back, class:"btn btn-warning"%>
    </div>


<% end %>

